.card {
    border: .1em solid var(--secondary);
    position: relative;
}

.card__group {
    display: flex;
    flex-direction: column;

    padding: 2rem;
}

.card__inactive-label {
    background-color: #fa3c30;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fff;
    width: 9rem;
    height: 3rem;
    border-radius: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    align-self: flex-end;
}

.card__name {
    margin-top: 2rem;
}

.card__type {
    font-size: 1.1rem;
}

.card__description {
    margin-top: 1.5rem;
    font-size: 1.1rem;
}

.card__user__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem .5rem 0 0;
}

.card__footer {
    background-color: #f8f8f8;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-lock {
    font-size: 1.9rem;
    color: var(--secondary);
}

.card__date-stamp {
    font-size: 1.2rem;
    margin-right: 1.8rem;
}

.card__footer-edit-delete-btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary);
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 1rem;
}

.card__footer-edit-delete-btn:hover,
.card__footer-edit-delete-btn:active {
    color: #fa3c30;
}

.card__footer-edit-delete-btn:focus {
    outline: none;
}